<div ag-deps="index.css">
    <div class="container-fluid px-0 py-0">
        <div class="row py-2">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card px-3 py-3 bg-info">
                <img class="card-img-top w-100" src="./images/logo.png">
                <div class="card-block">
                    <h4 class="card-title text-center mb-3">{@:title}</h4>
                    <div class="form-group row">
                        <input type="email" class="card-text form-control" placeholder="Email">
                    </div>
                    <div class="form-group row">
                        <input type="password" class="card-text form-control" placeholder="Password">
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="card-text btn btn-primary btn-block">Go</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div>