<!DOCTYPE html>
<html>
    <head>
        <!-- inject: ../../web/head.html -->
    </head>    
    <body>
        <!-- inject: ../../web/body.html -->

        <!-- appgears loader -->
        <script src="libs/require/require{.min}.js" data-main="index.js"></script>
    </body>
</html>