.ebLogo {
  padding-top: 5px;
  height: 48px;
}
.ndName {
  height: 98px;
  margin-left: -10px;
}
.ndLogo {
  height: 98px;
}
.ndVer {
  padding-top: 40px;
  margin-left: -190px;
}
.tlText {
  margin-top: 10px;
  font-size: large;
}
.cpText {
  margin-left: -20px;
}

#container {
  padding-top: 125px;
  padding-bottom: 75px;
}
