<div ag-deps="index.css">
    <div class="container">
        <div class="card-columns py-4">
        <div rv-each-item="@:chatbots">
            <div class="card my-2">
                <img class="card-img-top w-100" rv-src="item.img">
                <div class="card-block">
                    <span>
                        <i rv-if="item.isSpecial" class="fa fa-star text-warning" aria-hidden="true"></i>
                    </span>
                    <span>&nbsp;<small>{item.tags}</small></span>
                    <h4 class="card-title">{item.title}</h4>
                    <p class="card-text">{item.desc}</p>
                    <a rv-if="item.isAvailable" rv-href="item.url" class="btn btn-primary active">Go</a>
                    <a rv-unless="item.isAvailable" rv-href="#" class="btn btn-secondary active text-muted">Go</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>