.ebLogo {
  padding-top: 5px;
  height: 48px;
}
.ndName {
  height: 98px;
  margin-left: -10px;
}
.ndLogo {
  height: 98px;
}
.ndVer {
  padding-top: 40px;
  margin-left: -190px;
}
.tlText {
  margin-top: 10px;
  font-size: large;
}
.cpText {
  margin-left: -20px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}