#SCOPE_ID .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

#SCOPE_ID .card {
    width: 450px;
    height: 275px;
    background: linear-gradient(#3679AA, #469C9E);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    color: #fff;
}

#SCOPE_ID .center-img {
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-25%, -50%);
    text-align: center;
}

#SCOPE_ID .card h1 {
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    text-align: center;
}

#SCOPE_ID .card h2 {
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    text-align: center;
    font-size: 2rem;
}

#SCOPE_ID .card h4 {
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    text-align: center;
    font-size: 1.2rem;
}    